<div class="outer-container">
  <div class="inner-container">
    <div class="centered-content">
    
    <div class="logo">
      <a href="/" style="text-decoration: none; font-size: 2em;">NoteIn</a>
    </div>
    
    <p>&nbsp;</p>
    
    <div class="ui attached message">
      <div class="header">
         Change your password
      </div>
    </div>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "ui form attached fluid segment" }) do |f| %>
      
      <%= f.hidden_field :reset_password_token %>

      <div class="field">
        <%= f.label :password, "New password" %><br />
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em><br />
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
      </div>
      
      <div class="field">
        <%= f.label :password_confirmation, "Confirm new password" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "Change my password", class: "ui positive submit button" %>
      </div>
    <% end %>
    
    <%= devise_error_messages! %>
    
    </div>
  </div>
</div>

